
html {
    
}

body {
    background-color: black;
    margin: 0px;
    font-size: 3vh;
    color: white;
    padding: 0px;
    border:none;
    z-index:0;   
}

#GamePanel {
    background-color: blue;
    margin: 0 auto;
    position:relative;
}

#InGamePanel {
    background-color: transparent;
    width: 100vw;
    position: fixed;
    left: 0;
    bottom: 0;
    clear:both;
}

#ScorePanel {
    position: relative;
    right: 0px;
    bottom: 0px;
    float: right;
}

#HighscorePanel {
    position: relative;
    left: 0px;
    bottom: 0px;
    float: left;
}

#Head {
    width: 5%;
    height: 5%;
    background-color: yellow;
    position: absolute;
    padding: 0px;
    margin: 0px;
}

.Square {
    width: 4.4%;
    height: 4.4%;
    background-color: black;
    margin: 0.3%;
    float: right;
}

#Target {
    width: 5%;
    height: 5%;
    background-color: red;
    position: absolute;
    top: 0%;
    left: 0%;
}

.Tail {
    width: 5%;
    height: 5%;
    background-color: lawngreen;
    position: absolute;
}
